body {
    background-color: rgb(58, 58, 58);
    font-family: 'Roboto Condensed', sans-serif;
    width: 100vw;
    padding: 0;
    margin: 0;
}

header {
    position: sticky;
    background-color: rgb(130, 208, 12);
    height: 8vh;
    margin: 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(15, 167, 152);
}

#logo {
    height: 8vh;
    float: left;
}

#user {
    float: right;
    height: 7vh;
    padding-top: 0.5vh;
    padding-right: 1vh;
}

#username {
    margin-top: 5vh;
    margin-right: 1vh;
    float: right;
}

#login {
    text-align: center;
    position: relative;
    font-size: xx-large;
    display: flow-root;
    padding: 1vh;
    padding-top: 30vh;
}

#cadastro {
    text-align: center;
    position: relative;
    display: flow-root;
    padding: 1vh;
    padding-top: 6vh;

}

#custom body {
    background-color: rgb(84, 53, 112);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100vw;
    padding: 0;
    margin: 0;
}

#custom text {
    background-color: chartreuse;
}

 ul {
    position: relative;
    list-style: none;
    font-size: x-large;
    background-color: rgb(130, 208, 12);
    /* border: solid rgb(130, 208, 12) 3px; */
    color: white;
    width: 10%;
    height: 100vw;
    margin-top: 0;
    padding: 20px;
 }

 li {
    padding: 3px;
 }

 @media (max-width: 768px){
    nav {
        width: 100%;
        text-align: center;
        background-color: rgb(130, 208, 12);
    }
    ul, li {
       display: inline;
       padding-top: 1px;
       padding-bottom: 0;
       margin: 0;
    }
}


 
a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(69, 110, 8);
}

input {
    border: 2px solid black;
    border-radius: 6px;
    margin: 6px;
}

button {
    margin-top: 10px;
}